.cognitive-test-child {
    position: absolute;
    top: 40px;
    left: 107px;
    background-color: #ffbf9d;
    width: 1205px;
    height: 168px;
}
.neuroneko {
    position: absolute;
    top: 24px;
    left: 216px;
    font-size: 128px;
    display: inline-block;
    font-family: Jaldi;
    width: 1021px;
    height: 109px;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.cognitive-test-item {
    position: absolute;
    top: 16px;
    left: 1224px;
    background-color: #7c9bff;
    width: 163px;
    height: 158px;
}
.cognitive-test-inner {
    position: absolute;
    top: 92px;
    left: 53px;
    background-color: #ff9afa;
    width: 163px;
    height: 158px;
}
.paw-5892565-1280-3-icon {
    position: absolute;
    top: 39px;
    left: 1245px;
    width: 122px;
    height: 113px;
    object-fit: cover;
}
.paw-5892565-1280-4-icon {
    position: absolute;
    top: 225px;
    left: 678px;
    width: 92px;
    height: 85px;
    object-fit: cover;
}
.brain-1294854-1280-2-icon {
    position: absolute;
    top: 102px;
    left: 75px;
    width: 116px;
    height: 138px;
    object-fit: cover;
}
.cognitive-test1 {
    position: absolute;
    top: 303px;
    left: 216px;
    font-size: 75px;
    font-family: Jaldi;
    display: inline-block;
    width: 1021px;
    height: 109px;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.rectangle-div {
    position: absolute;
    top: 506px;
    left: 75px;
    background-color: #d9d9d9;
    border: 5px solid #ffb7a5;
    box-sizing: border-box;
    width: 1292px;
    height: 478px;
}
.ellipse-div {
    position: absolute;
    top: 226px;
    left: 248px;
    border-radius: 50%;
    background-color: #c2d9ff;
    width: 177px;
    height: 90px;
    cursor: pointer;
}
.cognitive-test-child1 {
    position: absolute;
    top: 225px;
    left: 463px;
    border-radius: 50%;
    background-color: #ffc2fa;
    width: 177px;
    height: 90px;
    cursor: pointer;
}
.cognitive-test-child2 {
    position: absolute;
    top: 227px;
    left: 813px;
    border-radius: 50%;
    background-color: #ffc2fa;
    width: 177px;
    height: 90px;
    cursor: pointer;
}
.cognitive-test-child3 {
    position: absolute;
    top: 226px;
    left: 1028px;
    border-radius: 50%;
    background-color: #ffc2fa;
    width: 177px;
    height: 90px;
}
.home {
    position: absolute;
    top: 245px;
    left: 263px;
    display: inline-block;
    width: 147px;
    height: 54px;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.meowmory {
    position: absolute;
    top: 253px;
    left: 478px;
    font-size: 24px;
    display: inline-block;
    width: 147px;
    height: 54px;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.find-the-treat {
    position: absolute;
    top: 237px;
    left: 828px;
    font-size: 32px;
    display: inline-block;
    width: 147px;
    height: 54px;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.catch-the-laser {
    position: absolute;
    top: 237px;
    left: 1043px;
    font-size: 32px;
    display: inline-block;
    width: 147px;
    height: 54px;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
    cursor: pointer;
}
.this-test-is {
    margin: 0;
}
.this-test-is-container {
    position: absolute;
    top: 403px;
    left: 117px;
    display: inline-block;
    width: 1206px;
    height: 50px;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.line-div {
    position: absolute;
    top: 371.5px;
    left: 50.5px;
    border-top: 5px solid #7578ff;
    box-sizing: border-box;
    width: 430px;
    height: 5px;
}
.cognitive-test-child4 {
    position: absolute;
    top: 371.5px;
    left: 979.5px;
    border-top: 5px solid #7578ff;
    box-sizing: border-box;
    width: 430px;
    height: 5px;
}
.cognitive-test {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 1024px;
    overflow: hidden;
    text-align: center;
    font-size: 40px;
    color: #000;
    font-family: Itim;
}

