.homepage-child {
    position: absolute;
    top: 1936px;
    left: 518px;
    border-radius: 50%;
    background-color: #ffc2fa;
    width: 439px;
    height: 84px;
}
.homepage-item {
    position: absolute;
    top: 1931px;
    left: 102px;
    border-radius: 50%;
    background-color: #c2d9ff;
    width: 320px;
    height: 95px;
}
.homepage-inner {
    position: absolute;
    top: 1936px;
    left: 985px;
    border-radius: 50%;
    background-color: #c2d9ff;
    width: 377px;
    height: 94px;
}
.rectangle-div {
    position: absolute;
    top: 656px;
    left: 453px;
    background-color: #ffc484;
    width: 568px;
    height: 165px;
    cursor: pointer;
}
.homepage-child1 {
    position: absolute;
    top: 1343px;
    left: 412px;
    background-color: #ffc484;
    width: 621px;
    height: 153px;
}
.homepage-child2 {
    position: absolute;
    top: 39px;
    left: 117px;
    background-color: #ffbf9d;
    width: 1205px;
    height: 168px;
}
.neuroneko {
    position: absolute;
    top: 23px;
    left: 209px;
    font-size: 128px;
    display: inline-block;
    width: 1021px;
    height: 109px;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.welcome-to-neuroneko {
    position: absolute;
    top: 231px;
    left: 226px;
    display: inline-block;
    width: 1021px;
    height: 109px;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.choose-a-game {
    position: absolute;
    top: 1343px;
    left: 209px;
    display: inline-block;
    width: 1021px;
    height: 109px;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.cognitive-test {
    position: absolute;
    top: 656px;
    left: 226px;
    display: inline-block;
    width: 1021px;
    height: 118px;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.meowmory {
    position: absolute;
    top: 1936px;
    left: -249px;
    font-size: 48px;
    display: inline-block;
    width: 1021px;
    height: 118px;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.find-the-treat {
    position: absolute;
    top: 1936px;
    left: 226px;
    font-size: 48px;
    display: inline-block;
    width: 1021px;
    height: 118px;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.catch-the-laser {
    position: absolute;
    top: 1936px;
    left: 663px;
    font-size: 48px;
    display: inline-block;
    width: 1021px;
    height: 118px;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.here-you-can {
    position: absolute;
    top: 419px;
    left: 134px;
    font-size: 40px;
    font-family: Itim;
    display: inline-block;
    width: 1206px;
    height: 50px;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.you-can-take {
    margin: 0;
}
.you-can-take-container {
    position: absolute;
    top: 527px;
    left: 134px;
    font-size: 40px;
    font-family: Itim;
    display: inline-block;
    width: 1206px;
    height: 50px;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.you-can-also-container {
    position: absolute;
    top: 1270px;
    left: 117px;
    font-size: 40px;
    font-family: Itim;
    display: inline-block;
    width: 1206px;
    height: 50px;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.homepage-child3 {
    position: absolute;
    top: 15px;
    left: 1234px;
    background-color: #7c9bff;
    width: 163px;
    height: 158px;
}
.homepage-child4 {
    position: absolute;
    top: 91px;
    left: 63px;
    background-color: #ff9afa;
    width: 163px;
    height: 158px;
}
.line-icon {
    position: absolute;
    top: 316px;
    left: 1223px;
    width: 201px;
    height: 1px;
    object-fit: contain;
}
.homepage-child5 {
    position: absolute;
    top: 315px;
    left: 46px;
    width: 201px;
    height: 1px;
    object-fit: contain;
}
.paw-5892565-1280-2-icon {
    position: absolute;
    top: 38px;
    left: 1255px;
    width: 122px;
    height: 113px;
    object-fit: cover;
}
.brain-1294854-1280-1-icon {
    position: absolute;
    top: 101px;
    left: 85px;
    width: 116px;
    height: 138px;
    object-fit: cover;
}
.homepage-child6 {
    position: absolute;
    top: 846px;
    left: 272px;
    background-color: #d9d9d9;
    border: 5px solid #ffb7a5;
    box-sizing: border-box;
    width: 895px;
    height: 399px;
    cursor: pointer;
}
.homepage-child7 {
    position: absolute;
    top: 1540px;
    left: 83px;
    background-color: #d9d9d9;
    border: 5px solid #ffb7a5;
    box-sizing: border-box;
    width: 377px;
    height: 376px;
    cursor: pointer;
}
.homepage-child8 {
    position: absolute;
    top: 1540px;
    left: 548px;
    background-color: #d9d9d9;
    border: 5px solid #ffb7a5;
    box-sizing: border-box;
    width: 377px;
    height: 376px;
    cursor: pointer;
}
.homepage-child9 {
    position: absolute;
    top: 1540px;
    left: 978px;
    background-color: #d9d9d9;
    border: 5px solid #ffb7a5;
    box-sizing: border-box;
    width: 377px;
    height: 376px;
    cursor: pointer;
}
.homepage {
    width: 75%;
    position: relative;
    background-color: #fff;
    height: 2048px;
    overflow: hidden;
    text-align: center;
    font-size: 96px;
    color: #000;
    font-family: Jaldi;
}

