.game-1-meowmory-child {
    position: absolute;
    top: 40px;
    left: 107px;
    background-color: #ffbf9d;
    width: 1205px;
    height: 168px;
}
.neuroneko {
    position: absolute;
    top: 24px;
    left: 199px;
    font-size: 128px;
    display: inline-block;
    font-family: Jaldi;
    width: 1021px;
    height: 109px;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.game-1-meowmory-item {
    position: absolute;
    top: 16px;
    left: 1224px;
    background-color: #7c9bff;
    width: 163px;
    height: 158px;
}
.game-1-meowmory-inner {
    position: absolute;
    top: 92px;
    left: 53px;
    background-color: #ff9afa;
    width: 163px;
    height: 158px;
}
.paw-5892565-1280-4-icon {
    position: absolute;
    top: 39px;
    left: 1245px;
    width: 122px;
    height: 113px;
    object-fit: cover;
}
.brain-1294854-1280-3-icon {
    position: absolute;
    top: 102px;
    left: 75px;
    width: 116px;
    height: 138px;
    object-fit: cover;
}
.meowmory {
    position: absolute;
    top: 291px;
    left: 209px;
    font-size: 75px;
    font-family: Jaldi;
    display: inline-block;
    width: 1021px;
    height: 109px;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.rectangle-div {
    position: absolute;
    top: 511px;
    left: 64px;
    background-color: #d9d9d9;
    border: 5px solid #ffb7a5;
    box-sizing: border-box;
    width: 1292px;
    height: 478px;
}
.paw-5892565-1280-5-icon {
    position: absolute;
    top: 223px;
    left: 661px;
    width: 92px;
    height: 85px;
    object-fit: cover;
}
.ellipse-div {
    position: absolute;
    top: 224px;
    left: 231px;
    border-radius: 50%;
    background-color: #c2d9ff;
    width: 177px;
    height: 90px;
    cursor: pointer;
}
.game-1-meowmory-child1 {
    position: absolute;
    top: 223px;
    left: 446px;
    border-radius: 50%;
    background-color: #ffc2fa;
    width: 177px;
    height: 90px;
}
.game-1-meowmory-child2 {
    position: absolute;
    top: 225px;
    left: 796px;
    border-radius: 50%;
    background-color: #ffc2fa;
    width: 177px;
    height: 90px;
}
.game-1-meowmory-child3 {
    position: absolute;
    top: 224px;
    left: 1011px;
    border-radius: 50%;
    background-color: #ffc2fa;
    width: 177px;
    height: 90px;
}
.home {
    position: absolute;
    top: 240px;
    left: 246px;
    display: inline-block;
    width: 147px;
    height: 54px;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.cognitive-test {
    position: absolute;
    top: 251px;
    left: 461px;
    font-size: 24px;
    display: inline-block;
    width: 147px;
    height: 54px;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
    cursor: pointer;
}
.find-the-treat {
    position: absolute;
    top: 235px;
    left: 811px;
    font-size: 32px;
    display: inline-block;
    width: 147px;
    height: 54px;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
    cursor: pointer;
}
.catch-the-laser {
    position: absolute;
    top: 235px;
    left: 1026px;
    font-size: 32px;
    display: inline-block;
    width: 147px;
    height: 54px;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
    cursor: pointer;
}
.this-game-is {
    margin: 0;
}
.this-game-is-container {
    position: absolute;
    top: 401px;
    left: 85px;
    display: inline-block;
    width: 1206px;
    height: 50px;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.line-div {
    position: absolute;
    top: 361.5px;
    left: 86.5px;
    border-top: 5px solid #38e1ff;
    box-sizing: border-box;
    width: 430px;
    height: 5px;
}
.game-1-meowmory-child4 {
    position: absolute;
    top: 361.5px;
    left: 928.5px;
    border-top: 5px solid #38e1ff;
    box-sizing: border-box;
    width: 430px;
    height: 5px;
}
.game-1-meowmory {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 1024px;
    overflow: hidden;
    text-align: center;
    font-size: 40px;
    color: #000;
    font-family: Itim;
}

