.game-3-catch-the-laser-child {
    position: absolute;
    top: 43px;
    left: 107px;
    background-color: #ffbf9d;
    width: 1205px;
    height: 168px;
}
.neuroneko {
    position: absolute;
    top: 27px;
    left: 199px;
    font-size: 128px;
    display: inline-block;
    font-family: Jaldi;
    width: 1021px;
    height: 109px;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.game-3-catch-the-laser-item {
    position: absolute;
    top: 19px;
    left: 1224px;
    background-color: #7c9bff;
    width: 163px;
    height: 158px;
}
.game-3-catch-the-laser-inner {
    position: absolute;
    top: 95px;
    left: 53px;
    background-color: #ff9afa;
    width: 163px;
    height: 158px;
}
.paw-5892565-1280-6-icon {
    position: absolute;
    top: 42px;
    left: 1245px;
    width: 122px;
    height: 113px;
    object-fit: cover;
}
.brain-1294854-1280-5-icon {
    position: absolute;
    top: 105px;
    left: 75px;
    width: 116px;
    height: 138px;
    object-fit: cover;
}
.rectangle-div {
    position: absolute;
    top: 509px;
    left: 75px;
    background-color: #d9d9d9;
    border: 5px solid #ffb7a5;
    box-sizing: border-box;
    width: 1292px;
    height: 478px;
}
.catch-the-laser {
    position: absolute;
    top: 301px;
    left: 209px;
    font-size: 75px;
    font-family: Jaldi;
    display: inline-block;
    width: 1021px;
    height: 109px;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.paw-5892565-1280-7-icon {
    position: absolute;
    top: 225px;
    left: 672px;
    width: 92px;
    height: 85px;
    object-fit: cover;
}
.ellipse-div {
    position: absolute;
    top: 226px;
    left: 242px;
    border-radius: 50%;
    background-color: #c2d9ff;
    width: 177px;
    height: 90px;
}
.game-3-catch-the-laser-child1 {
    position: absolute;
    top: 225px;
    left: 457px;
    border-radius: 50%;
    background-color: #ffc2fa;
    width: 177px;
    height: 90px;
}
.game-3-catch-the-laser-child2 {
    position: absolute;
    top: 227px;
    left: 807px;
    border-radius: 50%;
    background-color: #ffc2fa;
    width: 177px;
    height: 90px;
}
.game-3-catch-the-laser-child3 {
    position: absolute;
    top: 226px;
    left: 1022px;
    border-radius: 50%;
    background-color: #ffc2fa;
    width: 177px;
    height: 90px;
}
.home {
    position: absolute;
    top: 244px;
    left: 257px;
    display: inline-block;
    width: 147px;
    height: 54px;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
    cursor: pointer;
}
.meowmory {
    position: absolute;
    top: 253px;
    left: 822px;
    font-size: 24px;
    display: inline-block;
    width: 147px;
    height: 54px;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
    cursor: pointer;
}
.find-the-treat {
    position: absolute;
    top: 234px;
    left: 1035px;
    font-size: 32px;
    display: inline-block;
    width: 147px;
    height: 54px;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
    cursor: pointer;
}
.this-game-is {
    position: absolute;
    top: 405px;
    left: 107px;
    display: inline-block;
    width: 1206px;
    height: 50px;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.cognitive-test {
    position: absolute;
    top: 254px;
    left: 472px;
    font-size: 24px;
    display: inline-block;
    width: 147px;
    height: 54px;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
    cursor: pointer;
}
.line-div {
    position: absolute;
    top: 371.5px;
    left: 50.5px;
    border-top: 5px solid #ff5252;
    box-sizing: border-box;
    width: 430px;
    height: 5px;
}
.game-3-catch-the-laser-child4 {
    position: absolute;
    top: 371.5px;
    left: 966.5px;
    border-top: 5px solid #ff5252;
    box-sizing: border-box;
    width: 430px;
    height: 5px;
}
.game-3-catch-the-laser {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 1024px;
    overflow: hidden;
    text-align: center;
    font-size: 40px;
    color: #000;
    font-family: Itim;
}

