body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    text-align: center;
}

h1, h2 {
    color: #333;
}

#cat-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

#cat-container img {
    width: 150px;
    margin: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

button {
    background-color: #ffcc00;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff9900;
}

#success-screen img, #fail-screen img {
    width: 100px;
}